export(SEMpaths,SEMpaths.S4,SEMmodel,SEMmodel.S4,SEMpathsGUI)
# export Classes
exportClasses(
              "SEMmodel"
             )

# export Methods
exportMethods(
             "SEMmodel.S4",
			"SEMpaths.S4"
             )
S3method(SEMpaths,default)
S3method(SEMmodel,default)
S3method(SEMpaths,semspec)
S3method(SEMmodel,semspec)
S3method(SEMpaths,sem)
S3method(SEMpaths,mplus.model)
S3method(SEMmodel,mplus.model)
S3method(SEMmodel,sem)
S3method(SEMmodel,msem)
S3method(SEMpaths,msem)
S3method(SEMmodel,msemObjectiveML)
S3method(SEMpaths,msemObjectiveML)
importFrom(MplusAutomation,"readModels")
importFrom(sem,"sem","standardizedCoefficients")
importFrom(lavaan,"lavaan","cfa","standardizedSolution", "standardizedsolution", "parameterEstimates", "parameterestimates","inspect")
importClassesFrom(lavaan,"lavaan")
importFrom(stats,"factanal")
import(plyr)
